@model Sztek.Models.EditUserModel

<h3>Jelszó megváltoztatása</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change User Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.PasswordModel.OldPassword)
                @Html.PasswordFor(m => m.PasswordModel.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.PasswordModel.NewPassword)
                @Html.PasswordFor(m => m.PasswordModel.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.PasswordModel.ConfirmPassword)
                @Html.PasswordFor(m => m.PasswordModel.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Jelszó megváltoztatása" />
    </fieldset>
}
